/* Base */

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: euro;
    src: url(../fonts/eurof55.ttf);
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    font-family: lato, serif;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
    color: #606060;
}

body, h2, p {
    margin: 0;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

/* Hedear container */

.header-color {
    background-color: #292929;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    height: 130px;
}

.header-container {
    height: 130px;
}

/* Logo */

.logo {
    font-family: euro, sans-serif;
}

.header-container .logo {
    color: white;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.8px;
}

.logo .dot {
    color: #58c93a;
}

/* containers */

.padding-container {
    padding-left: 19px;
    padding-right: 25px;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

.posts-container {
    /* width: 980px; */
    border: 1px solid #e1e0e0;
}

/* nav-bar */

.main-nav-item {
    width: 131px;
    text-decoration: none;
    color: inherit;
    height: 130px;
    /* box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d; */
    border-left: 0.5px solid #1d1d1d;
    transition: 0.3s;
}

.main-nav-item:last-child {
    border-right: 0.5px solid #1d1d1d;
}

.main-nav-item:hover,  .main-nav-item:focus{
    color: #58c93a;
    box-shadow: inset 0 -6px 0 #58c93a;
}

.menu-icon, .menu-icon-close {
    display: none;
    font-size: 25px;
    border: none;
    color: inherit;
    background-color: inherit;
    transition: 0.3s;
}

.menu-icon-close {
    background-color: #29292900;
    margin: 50px 20px;
}

.menu-icon:hover, .menu-icon-close:hover {
    color: #58c93a;
}

/* Posts */

.post-item {
    margin-top: 80px;
}

.post-item:last-child {
    margin-bottom: 80px;
}

.post-img-container {
    margin-right: 33px;
    max-width: 460px;
}

.post-text-container {
    width: 445px;
}

.post-item h2 {
    font-size: 28px;
    line-height: 40px;
    color: #4f4e4e;
    text-transform: uppercase;
}

.post-item h2::first-line {
    line-height: 20px;
}

.post-item div > p:first-child {
    margin-bottom: 20px;
}

.post-item button {
    border-radius: 50px;
    width: 186px;
    height: 40px;
    padding-left: 26px;
    border: 2px solid #c2c2c2;
    background-color: #ffffff;
    color: #c2c1c1;
    transition: 0.3s;
}

.post-item button p {
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.post-item span {
    display: none;
}

.post-item button:hover {
    color: #58c93a;
    border: 2px solid #58c93a;
    width: 210px;
    padding-right: 24px;
}

.post-item button:hover :last-child {
    display: inline;
}

/* Page Buttons */
.pages-btns {
    height: 74px;
    border: 1px solid #e1e0e0;
}

.pages-btns button {
    color: #818181;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    background-color: white;
    border: none;
    transition: 0.3s;
}

.pages-btns button:hover {
    color: #5f5f5f;
}

.pages-btns button span {
    margin: 0 10px;
}

.pages-btns button:first-child {
    margin-right: 20px;
}

/* Footer */
footer {
    height: 315px;
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: #f8f8f8;
}

.footer-container {
    text-align: center;
}

footer .logo {
    color: #292929;
    font-family: euro;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.8px;
}

footer .rights {
    color: #a6a6a6;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin: 32px 0 38px 0;
}

footer .rights span:first-child {
    font-weight: 400;
    letter-spacing: 0.39px;
}

footer .rights span:last-child {
    color: #939292;
    /* font-family: "Lato - Bold"; */
    font-weight: 700;
    letter-spacing: 0.39px;
}

.social-links button {
    border: none;
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    color: white;
    transition: 0.3s;
}

.social-links button:hover {
    background-color: #516fad;
}

.social-links button:not(:last-child) {
    margin-right: 20px;
}

.social-links button:last-child {
    margin-left: 10px;
}


/* Helpers */

/* Lists */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Flex */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.align-self-end {
    align-self: flex-end;
}

/* .inline {
    display: inline;
} */

/* .align-start {
    align-self: flex-start;
}

.align-end {
    align-self: flex-end;
} */


@media (max-width: 865px) {

    .post-item h2::first-line {
        line-height: 14px;
    }

    .post-item h2 {
        font-size: 20px;
        line-height: 30px;
    }

    .post-item p {
        font-size: 14px;
        line-height: 18px;
    }

    .post-item div > p:first-child {
        margin-bottom: 10px;
    }
}

@media (max-width: 740px) {

    /* Nav-bar */
    .main-nav {
        flex-direction: column;
        background-color: #292929fa;
        position: fixed;
        height: 100vh;
        width: 30vh;
        top: 0;
        right: -30vh;
        transition: 0.6s;
    }

    .main-nav.open {
        right: 0;
    }

    .main-nav-item {
        height: 50px;
        width: 100%;
        box-shadow: none;
        border-bottom: 1px solid black;
    }

    .main-nav-item:first-child {
        margin-top: 130px;
    }

    .main-nav-item:hover, .main-nav-item:focus {
        box-shadow: -1px 0 #1d1d1d, inset -6px 0 #58c93a;
    }

    .menu-icon, .menu-icon-close {
        display: block;
    }

    ul {
        align-items: center;
    }

    .post-item {
        flex-direction: column;
    }

    .post-img-container {
        margin: 0;
    }

    .post-item h2 {
        margin-top: 10px;
        font-size: 28px;
        line-height: 30px;
    }

    .post-item h2::first-line {
        line-height: 30px;
    }

    .post-item p {
        /* font-size: 16px; */
        line-height: 20px;
        text-align: justify;
        text-justify: inter-word;
    }

    .post-item div > p:first-child {
        margin-bottom: 10px;
    }

    .post-text-container {
        margin-top: 10px;
    }

    .post-text {
        margin: 20px 0;
    }

    .post-item button {
        align-self: center;
    }
}